<% provide :title, "My Profile" %>


<div class="container-fluid coursemain">
    <h1 class="course0">Мои курсы</h1>
    <div class="blk">
        <center>
            <a class="btn btn-default course1" href="#" role="button"><h4>#python<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span></h4></a><br>
        </center>
    </div>
    
    <div class="blk">
        <center>
            <a class="btn btn-default course1" href="#" role="button"><h4>#python<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span></h4></a><br>
        </center>
    </div>
    
    <div class="blk">
        <center>
            <a class="btn btn-default course1" href="#" role="button"><h4>#python<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span></h4></a><br>
        </center>
    </div>
    
    <center>
        <%= image_tag("ionic.png", :style => "img-responsive myimg") %>
    </center>
</div>