<body>
  <div class="add-new3">
    <h3><%= @part.name %></h3>

       <% @lessons.each do  |lesson|%>
          <p class="orange"><%= link_to lesson.name, lesson, class:"orange" %></p>
          <% if current_user.admin? %>
            <%= link_to "Edit", edit_lesson_path(lesson) %>
          <% end %>
       <% end %>
      
      <% if current_user.admin? %>
        <%= link_to 'Добавить урок', new_lesson_path(:part_id => @part.id), class: "btn btn-default" %>
      <% end %>



  </div>  
</body>
