<input id="whichlang" type="hidden" value="<%= Course.find(id=Part.find(id=@lesson.part_id)).language %>"></input>

<script type="text/javascript">
$("#clear").click(function(){
  document.getElementById("console_output").innerHTML = "";
});
var language_code = $("#whichlang").val();

$("#button"+ language_code ).click(function(){
  
  codex = document.getElementById('console').value;

  $.ajax({
      type: "POST",
      url: "/pythonsave",
      data: {
        code:codex,
        language:language_code
        
      },
      success:function(data){
        if(data.result.message == "Success"){
            console.log(data);
            document.getElementById("console_output").innerHTML += "<p> > "+data.result.stdout+"</p>";
        }else {
             console.log(data);
             if(data.result.compilemessage == ""){
               document.getElementById("console_output").innerHTML += "<p class='error'> > "+data.result.stderr+"</p>";
      
             }else {
               document.getElementById("console_output").innerHTML += "<p class='error'> > "+data.result.compilemessage+"</p>";
        
             }
            
        }
      },
        error:function(data){
            console.log(data);
            document.getElementById("console_output").innerHTML += "<p> > "+data.result.stdout+"</p>";
        }
    });


});





</script>


<script>
  $('.my-code-area').ace({ theme: 'twilight', lang: 'ruby' })
</script>

<script type="text/javascript">

</script>
