<footer id="footer-list-subscribe" class="dark-bg bg-color1" data-selector="footer">
<div class="container">
 <div class="row">
     <div class="col-md-5 col-md-push-3">
         <div class="row">
             <div class="col-md-3 col-md-offset-2">
                 <h4 data-selector="h4">Соцсети</h4>
                 <ul>
                     <li><a href="https://www.facebook.com/method.kz" target="_blank">Facebook</a></li>
                     <li><a href="https://instagram.com/method.kz" target="_blank">Instagram</a></li>
                     <li><a href="https://vk.com/method_kz" target="_blank">Вконтакте</a></li>
                 </ul>
             </div>
             <div class="col-md-5">
                 <h4 data-selector="h4">Адрес</h4>
                 <ul class="links-list">
                     <li>
                         Самал-2, 58, Блок A, 9-ый этаж, Алматы
                     </li>
                     <li>
                         <i class="fa fa-map-marker"></i> <a href="https://method.kz/almaty/contact">Просмотреть на карте</a>
                     </li>
                 </ul>
             </div>
         </div>
     </div>
     <div class="col-md-3 col-md-offset-1 col-md-push-3">
         <form accept-charset="UTF-8" action="" class="simple_form line-form sep-half-bottom" data-remote="true" data-selector="form" ><div style="display:none"><input name="utf8" value="✓" type="hidden"></div>
             <div class="input-group">
                 <div class="form-group email required subscription_email" aria-required="true"><input class="form-control string email required" id="subscribe_email" name="subscription[email]" placeholder="ваш@email" aria-required="true" type="email"></div>

                 <div class="input-group-btn">
                   <button type="button" class="btn btn-default btn-lg">
                      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    </button>
                 </div>
             </div>
         </form>
         <div class="p">
            <p class="desc-text editContent" data-selector="p">Подпишитесь на нашу новостную рассылку и будьте в курсе интересных событий из сферы IT.</p>
         </div>

     </div>
     <div class="col-md-3 col-md-pull-9">
         <%= image_tag("logo.png", :alt => "Method Coding School", :width => 220) %>
         <p data-selector="p" style="font-size: 11px;"> <br> Ознакомьтесь с нашим <strong><a href="https://method.kz/almaty/conf" target="_blank">соглашением об обработке персональных данных</a></strong></p>
         <p><a href="index.html">Вход</a></p>
     </div>
 </div>
</div>
</footer>