<script>
  $("#endcourse").click(function(){
      alert(12);
      $.ajax({
          type: "POST",
          url:"/overcourse",
          data: {
              user_to_course_id: $("#user_to_course_id").val(),
          },
          success: function(data){
              
          }
      }); 
  });
</script>
<%if Lesson.where(course_id: @lesson.course_id).size > @lesson.lesson_order%>
  <%=link_to "Начать следующий урок",lesson_path(Lesson.find_by_lesson_order_and_course_id(@lesson.lesson_order+1,@lesson.course_id)), class:"btn btn-success", id:"nextLesson"%>
  <span>Урок успешно пройден <a id="closeSuccess">+</a></span>
<%else%>
  <% if ProcessOfLesson.where(:user_to_course_id => UserToCourse.where(:course_id => @lesson.course_id,:user_id => current_user.id)).size+1 >= Lesson.where(:course_id =>@lesson.course_id).size %>
    <a class="btn btn-success" id="endcourse"> Закончить курс <%=ProcessOfLesson.where(:user_to_course_id => UserToCourse.where(:course_id => @lesson.course_id,:user_id => current_user.id)).size%></a>
    <input type="hidden" value="<%= UserToCourse.find_by_user_id_and_course_id(current_user.id ,@lesson.course_id ).id%>" id="endcoursedata" >
    <span>Курc успешно завершен<a id="closeSuccess">+</a></span>
  <%else %>
    <span>Пройди все части курса<%=ProcessOfLesson.where(:user_to_course_id => UserToCourse.where(:course_id => @lesson.course_id,:user_id => current_user.id)).size%><a id="closeSuccess">+</a></span>
  <%end%>
<%end%>