/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require custom
 *= require layouts
 *= require login
 *= require_tree .
 *= require_self

 */

.loginbutton:hover {
    background: #B96C35 !important;
}

.loginbutton:active {
    background: #B96C35 !important;
}

.lefted  {
  margin-top: 40px;
  margin-bottom: 30px;
}

.add-part-button {
    margin:10px;
    margin-left:20px;
    margin-right:0px;

}

.parts-name-edit {
    color:black;
    border-radius:20px;
    padding:5px 10px;
    background:#B96C35;
    color:white;
    background-color: #EB8B47;
}

.admin-button {
    position: relative;
    top: 16px;
    left: 10px;
    padding: 3px 6px;
    background: #57F5CB;
}



.add-part-button {
    border-radius: 5px;
    background:#2FD3B1;
}

.add-part-button:hover {
    background: #20927A;
}

.lessons-name:hover {
    color:#20927A !important;
}


.cirtificate {
    display: inline-block;
    width: 493px;
    height: 300px;
    padding: 18px;
    text-align: center;
    background: white;
    padding-bottom: 40px;
}

.cirtificate img {
    width: 456.84px;
    height: 260px;
    margin-bottom: 80px;
}

.certificate-name {
    position:relative;
    color:white;
    top:-60px;
    left:-40px;
    margin-top:-60px;
}

.certificate-course-name {
    position:relative;
    color:white;
    top:-120px;
}
