.blockchik {
    margin: 10px;
    margin-bottom: 20px;
    background: white;
    padding: 20px;
}

.admin-btn {
    background: #2FD3B0;
    padding: 7px 40px;
    border-radius: 5px;
}
// .blockchik p{
//   padding-top: 5px!important;
//   padding-bottom: -2px!important;
// }
