.program .partners{
  height: 96px;
  background-color: white!important;
}
.program .partners{
  height: 96px;
  background-color: white!important;
}
.logo img{
  margin-top: 10px!important;
  margin-left: 15px;
}
.wings img{
  margin-top: -25px;
  width: 130px;
  height: 70px;
  float: right;
  clear: both;
  margin-right: 10px;
}
.text1{
  width: 289px;
  font-family: Lato;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.8px!important;
  color: #14282c;
  position: absolute!important;
  top: 25px;
  left: 60px;
}
.text1, .text2{
  display: inline;
}
.text2{
  width: 289px;
  font-family: Lato;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #5d8790;
  position: absolute;
  top: 49px;
  left: -40px;
}
.text3{
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.2px;
  color: #14282c;
  position: absolute;
  top: 25px;
  right: 350px;
}
.number{
  color: white;
  position: absolute;
  z-index: 3;
  top: 40%;
  right:82px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.4px;
  text-align: center;
}
#myProgress {
    width: 18%;
    border-radius: 20px;
    background-color: #d8d8d8;
    position: absolute;
    top: 60px;
    right: 200px;
}
#myBar {
    width: 17%;
    height: 7px;
    border-radius: 100px;
    background-color: #2fd3b0;
}
@media only screen and (max-width:980px){
  .text p{
    display: none;
  }
}
@media only screen and (max-width:600px){
  .logo img{
    display: none;
  }
  .text3{
    position: absolute;
    left: 5px;
  }
}
@media only screen and (max-width:500px){
  .text3, #myProgress{
    display: none;
  }
}








@media only screen and (max-width:1300px){
   .partners{
     width: 97.8%;
   }
 }
 @media only screen and (max-width:1280px){
   .partners{
     width: 97.5%;
   }
 }
 @media only screen and (max-width:1080px){
   .partners{
     width: 97%;
   }
 }
 @media only screen and (max-width:980px){
   .partners{
     width: 97%;
   }
 }
 @media only screen and (max-width: 880px){
   .partners{
     width: 96.9%;
   }
 }
@media only screen and (max-width:779px){
  .partners{
    width: 96.6%;
  }
}
@media only screen and (max-width:680px){
  .partners{
    width: 96%;
    background-color: white!important;
  }
}
@media only screen and (max-width:580px){
  .partners{
    width: 95.2%;
  }
}
@media only screen and (max-width:480px){
  .partners{
    width: 94.9%;
  }
  #overlay2{
    position: absolute;
    left: 0;
    top: 1095px!important;
    z-index: 2;
  }
}
@media only screen and (max-width:400px){
  .partners{
    width: 94%;
  }
}
@media only screen and (max-width:360px){
  .partners{
    width: 93.7%;
  }
}
@media only screen and (max-width:280px){
  .partners{
    width: 92%;
  }
}
