.program .partners{
  height: 96px;
  background-color: white;
}
.partners{
  margin-top: -9px;
  margin-left: 12px;
  width: 98.3%;
}
.logo img{
  margin-top: 10px!important;
  margin-left: 15px;
}
.wings img{
  margin-top: -9px;
  width: 104px;
  height: 54px;
  float: right;
  clear: both;
  margin-right: 11px;
}
.text1{
  font-family: Lato;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.8px!important;
  color: #14282c;
  position: absolute!important;
  top: 22px;
    left: 125px;
    width: 329px;
}
.text{
 position: absolute;
 top: 5px;
 font-family: 'Lato', sans-serif;
 margin-left: 10px;
}
.text2{
  font-family: Lato;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #5d8790;
  position: absolute;
  top: 44px;
    left: 113px;
    width: 364px;
}
.program2 .text2{
  position: absolute;
  left: 105px;
}
.text3{
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.2px;
  color: #14282c;
  position: absolute;
  top: 25px;
  right: 22%;
}
.number{
  color: white;
  position: absolute;
  z-index: 3;
  top: 37%;
  right:70px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.4px;
  text-align: center;
}
#myProgress {
    width: 18%;
    border-radius: 2000px!important;
    background-color: #d8d8d8;
    position: absolute;
    top: 60px;
    right: 200px;
}
#myBar {
    width: 68%;
    height: 7px;
    border-radius: 100px!important;
    background-color: #2fd3b0;
}
@media only screen and (max-width:1180px){
  .text3{
    position: absolute;
    right: 22.8%;
  }
}
@media only screen and (max-width:1080px){
  .text3{
    position: absolute;
    right: 23.5%;
  }
}
@media only screen and (max-width:980px){
  .text p{
    display: none;
  }
  .text3{
    position: absolute;
    right: 25.2%;
  }
}
@media only screen and (max-width:640px){
  .logo img{
    display: none;
  }
  .text3{
    position: absolute;
    left: 20px;
  }
  #myProgress{
    position: absolute;
    left: 20px;
  }
}
@media only screen and (max-width:500px){
  .text3, #myProgress{
    display: none;
  }
}

 @media only screen and (max-width:1280px){
   .partners{
     width: 98%;
   }
 }
 @media only screen and (max-width:1080px){
   .partners{
     width: 97.5%;
   }
 }
 @media only screen and (max-width:980px){
   .partners{
     width: 97.5%;
   }
 }
 @media only screen and (max-width: 880px){
   .partners{
     width: 97.3%;
   }
 }
@media only screen and (max-width:779px){
  .partners{
    width: 97.1%;
  }
}
@media only screen and (max-width:680px){
  .partners{
    width: 96.5%;
    background-color: white!important;
  }
}
@media only screen and (max-width:580px){
  .partners{
    width: 95.7%;
  }
}
@media only screen and (max-width:480px){
  .partners{
    width: 95.4%;
  }
  #overlay2{
    position: absolute;
    left: 0;
    top: 0!important;
    z-index: 2;
  }
}
@media only screen and (max-width:346px){
  .level-panel{
    margin-top: -25px;
  }
}
@media only screen and (max-width:400px){
  .partners{
    width: 94%;
  }
}
@media only screen and (max-width:360px){
  .partners{
    width: 93.7%;
  }
}
@media only screen and (max-width:280px){
  .partners{
    width: 92%;
  }
}
