#console_output {
  width: 97.6%;
  height: 220px;
  background: #19353B;
  color: white;
  overflow-y:scroll;
}

#console_output p {
  margin-left: 10px;
  width:100%;
}

#console_output p.error {
  color: red;
}

.button-panel {
  padding:10px;
}

#console {
  padding: 10px;
  width: 100%;

}

.console .panel {
  background: #19353B;
}
.ace-scroller{
width: 0%!important;
}

.console {
    width: 75.5% !important;
}

.my-code-area {
  width: 100% !important;
}


.ace_editor {
  width: 100%;
}