#console_output {
  width: 99.2%;
  height: 220px;
  background: #19353B;
  color: white;
  overflow-y:scroll;
}

#console_output p {
  margin-left: 10px;
  width:500px;
}

#console_output p.error {
  color: red;
}

.button-panel {
  padding:10px;
}