.course1{
  color: #2FD3B0!important;
  text-align: center;
}
.block{
  margin: 0 60px 30px 15px;
  color: white;
}
.block img{
  width: 200px;
  height: 200px;
}
.blockx img{
  width: 200px;
  height: 200px;
}
.blockx{
  margin: 50px -50px 30px 150px;
}
.web{
  margin-left: 100px;
  margin-top: 80px;
}
