.course1{
  color: #2FD3B0!important;
  text-align: center;
}
.open a{
  background-color: transparent!important;
}
.startx:hover {
  background:#B96C35 !important;
}
.block{
  margin: 0 60px 60px 15px;
  color: white;
}
.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:300px;
    height:auto;
    display:block;
    z-index:999;
}
.thumbnail{
 background-color: transparent;
 border-style: none;
}
.block img{
  width: 200px;
  height: 200px;
}
.web{
  margin-left: 120px;
  margin-top: 80px;
}

.course-title {
  margin: 10px;
  color: white !important;
}
.course-sylabus-container h1{
  color: #213e44!important;
}
.coursesx{
  margin-bottom: 40px!important;
}
.option {
    -webkit-animation-duration: 0s;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
}
.course-title-x {
  margin: 10px;
  color: white !important;
}
.coursesx .item{
  margin-bottom: 24px!important;
}
.middle h4 :hover{
  color:#2FD3B0!important;
}
.middle h4{
  color:black!important;
}
.course-name {
  color: #315A63 !important;
}

.course-name:hover {
  color: #348B9D !important;
}

.course-photo-container {
  padding:10px 10px 0 10px!important;
  text-align:center;
  margin: -10px 10px 10px 10px!important;
  background:white;
  font-family: 'Lato', sans-serif;
}
.image2{
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}
#overlay2{
  background-color: rgba(25, 53, 59, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.attention .item{
  margin-top: -50px!important;
}
.attention{
  margin-bottom: 0px!important;
}
.course-photo-container{
  height: 311px!important;
}
  .coursesx .item{
  margin-top: 0%;
  width: 100%!important;
  height: 55vh!important;
  }
course
.course-photo {
  height:400px;
  margin-top:-10px;
}
.btn-default {
  border-radius:20px;
  padding: 5px 40px !important;
}
.course-sylabus-container p{
  margin-top: 20px!important;
  margin-left: 40px!important;
  margin-right: 40px!important;
  color: black!important;
  font-size: 17px;
}
.item{
margin-top: 1.8%;
width: 100%!important;
height: 338px!important;
}
.course-info {
  position:relative;
  top:-205px;
}
.course-info a{
  padding: 15px 110px 15px 110px!important;
  border-radius: 60px;
}
.course-info h2{
  font-size: 40px;
}

.course-sylabus-container {
  background:white;
  margin:10px;
  padding:20px;
  text-align:center;
}

.course-sylabus-container h1{
  color: #213e44!important;
}
.course-sylabus-container p{
  color: #182e33!important;
}


.parts-name {
  color: #54A0AF !important;
  font-family: 'Lato', sans-serif;
  font-size:20px;
}

.parts-name:hover {
  color: #50A8BB !important;
  font-family: 'Lato', sans-serif;

}

.add-part-button {
  padding:5px 15px;
  border-radius:40px;
  display:inline-block;
  position: static;
  top: 15px;
  left: 200px!important;
  background: #50A8BB;
}

.add-new {
  background:transparent;
  margin:10px;
  color:black !important;
  text-align:center;
  margin-bottom: 150px!important;
}
.add-new2 {
  background:transparent;
  margin:80px auto!important;
  color:black !important;
  text-align:center;
  margin-bottom: 150px!important;
}
.add-new3 {
  background:transparent;
  margin:140px auto!important;
  color:black !important;
  text-align:center;
  margin-bottom: 150px!important;
}
.p{
  color: black!important;
}
.sub_category_creating{
}
.btnex{
  margin-top: 10px;
}
.videomrg{
  margin-top: 7px;
}
.orange{
color: #EB8B47;
margin-bottom: -5px!important;
}
.part-name{
  margin-top: 10px;
  text-align: center;
  margin-left: -50px;
}
.coursesx .item .desc p{
  height: 60px;
 margin-bottom:-20px;
 overflow: hidden;
}
.follow_status{
  position: relative;
  top: -18.9px;
}
.textrotator{
  font-family: 'Lato', sans-serif!important;
}
.bottomblue  p{
  float: left;
  clear: both;
  position: absolute;
  top: 10px;
  left: 15px;
  color: white;
  font-size: 17px;
}
.course-info .btn-default{
  margin-top: 6px!important;
}
@media only screen and (max-width:980px){
  .course-photo-container{
    height: 308px!important;
  }
  .course-info{
    font-size: 10px!important;
  }
}
@media only screen and (max-width:880px){
  .course-title, .course-title-x,.raiting{
    font-size: 25px!important;
  }
}
@media only screen and (max-width:680px){
  .course-info .btn-default {
    border-radius:20px;
    padding: 10px 60px !important;
  }
  .course-info {
    position:relative;
    top:-196px;
  }
  .course-info .btn-default{
    margin-top: 0!important;
  }
}
@media only screen and (max-width:580px){
  .course-title, .course-title-x,.raiting{
    font-size: 21px!important;
  }
  .item{
  margin-top: 1.8%;
  width: 100%!important;
  height: 250px!important;
  }
  .course-photo-container{
    height: 221px!important;
  }
  .course-info {
    position:relative;
    top:-177px;
  }
}
@media only screen and (max-width: 415px){
  .course-photo-container{
    height: 221px!important;
  }
}
@media only screen and (max-width:380px){
  .course-title, .course-title-x,.raiting{
    font-size: 19px!important;
  }
  .course-info .btn-default {
    border-radius:20px;
    padding: 10px 40px !important;
  }
  .course-info {
    position:relative;
    top:-177px;
  }
}
