.progress-background {
        display: inline-block;
        height: 5px;
        border-radius: 3px;
        width: 200px;
        background: #D8D8D8;
      }
      .progress-content {
        background: #2FD3B0;
        width: 0%;
        height: 100%;
        border-radius: 3px;
      }
      .level-panel {
        float:right;
        display: inline-block;
        width: 87px;
        height: 42px;
        background: url("/assets/level-panel.png");
      }

      .level-panel h3 {
        position: relative;
        left: 38px;
        font-size:15px;
        bottom: 7px;
        color: white;
      }