html, body{
  margin: 0;
  padding: 0;
}
.dropdown-menu{
  background-color: #19353B;
  opacity: 0.8!important;
  border-radius: 0;
}
.dropdown-menu a{
  // color: #eb8b47!important;
  color: white!important;
}
.dropdown-menu li :hover{
  background-color: #eb8b47!important;

}

footer{
  position: static;
  bottom: 0;
  font-family: 'Lato', sans-serif!important;
  font-size: 12px!important;
  padding-bottom: 5px!important;
}
.social{
  margin-top: 37px;
}
.logobottom{
  margin-top: -10px!important;
  margin-left: -20px!important;
}
.newhr{
   opacity: 0.3;
   border: solid 0.7px #6c6c6c;
   margin-top: 30px;
   padding-bottom: 0px!important;
   width: 99.8%;
}
.newdiv{
  opacity: 1;
  color: #6c6c6c;
  text-align: center;
  margin-top: -8px!important;
  padding-top: 0;
}
.item11, .item22, .item33{
  font-size: 20px!important;
  margin-right: 35px;
  margin-left: 5px;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 20px;
  border-color: transparent;
}
.maybelast a :hover{
  background-color: white;
}
.maybelast a :hover{
  color: #19353B!important;
}
.item11{
  padding: 5px 10px;
}
.item22{
  padding: 6px;
}
.item33{
  padding: 6px 8px;
}

body{
  background-color: #F1F1F1;
}
.navbar-nav .text{
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}
.up{
  margin-top: -20px!important;
}
footer, nav{
  font-family: 'Lato', sans-serif!important;
}
.fa-envelope-o{
  font-size: 20px!important;
}
.user a{
  border-radius: 20px!important;
  padding-left: -100%!important;
}

.dropdown-menu{
  font-family: 'Lato', sans-serif!important;
}
.dropdown-menu{
  margin-top: 22px;
}

a:hover{
  color: white!important;
}
.user a{
  border-radius: 20px;
}
a:active{
color: white!important;
}
.logo{
  width: 100%;
  height: 5vh;
}
.navbar{
  background-color: #19353B!important;
  border-radius: 0;
  padding-bottom: 1%;
}
.nav ul li{
  font-family: 'PT Serif Caption', serif;
}
.text{
 position: absolute;
 top: 5px;
 font-family: 'Lato', sans-serif;
}
footer{
  background-color: #19353B;
  margin-top: 5%;
  padding-top: 5%;
  padding-left: 0%;
  padding-bottom: 3%;
  color: white;
}
.btn-lg{
  margin-top: 0%!important;
  height:34px!important;
}
.line-form{
 width: 100%;
}
.p{
  margin-top: 5%!important;
  font-size: 14px;
}
.input-group{
  margin-top: -5.5%!important;
}
a{
color: white;
}
a:hover{
text-decoration: none;
}
ul{
list-style-type: none;
}
.img-circle{
  width: 40px;
  height: 40px;
}
.profile{
  position: relative!important;
  top: 12px!important;
  right: 12px!important;
  margin-bottom: -7px;
}
.notifications{
  font-size: 20px;
  position: relative!important;
  top: 7px!important;
  right: 12px!important;
  margin-bottom: -7px;
}
footer li{
margin-left: -38px;
margin-bottom: 5px;
}
.btn-default{
  border-radius: 3px;
  height: auto;
  padding: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #EB8B47;
  border-color: #EB8B47;
  color: white;
  margin-top: 18px;
  font-family: 'Lato', sans-serif;
  padding: 2px 40px !important;
  color: white !important;
  border: none !important;
}

.btn-default a {
  margin: 0px;
  padding: 0px;
  font-size: 10px;
}
.text{
 position: absolute;
 top: 5px;
 font-family: 'Lato', sans-serif;
}
.maybelast a{
  margin-left: -12px;
}
@media only screen and (max-width:1300px){
  .logobottom{
    margin-left: 0px!important;
  }
}
@media only screen and (max-width:990px){
  footer{
    text-align: center;
  }
  .maybelast a{
    margin-left: 20px!important;
  }
  .maybelast{
    margin-bottom: 20px!important;
  }
  .logobottom{
    margin-top: 20px;
  }
}
@media only screen and (max-width:957px){
  footer{
    text-align: center;
  }
}

.submitx:hover {
  background:#B96C35 !important;
}
.submitx:active {
  background:#B96C35 !important;
}
.maybelast{
  margin-top: 0px;
}
@media only screen and (max-width:767px){
  .user img{
  margin-left: 25px;
  margin-top: -15px;
  }
  .user ul{
    margin-left: 0px;
    margin-top: 50px;
  }
  .navbar-toggle{
    text-align: center;
  }
  .user a{
    text-align: center!important;
    background-color: transparent!important;
  }
  .navbar-collapse{
    ul li{
      text-align: center!important;
    }
  }
  .user ul li{
  margin-top: 10px!important;
  }
  .nav .text{
    margin-top:-10px;
  }



}
