.lesson {
  padding: 5px;

}

body {
  padding: 0px;
  margin: 0px;
}

.taskpanel {
  padding: 10px;

  width: 300px;
  text-align: center;

}

.taskpanel ul  {
  text-align: left;
  list-style-type: none;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}
.taskpanel ul li {
  width: 100%;
  font-weight: lighter;
  padding: 0px;
  margin: 0px;
}

.lesson .taskpanel {
  background: white;
  margin: 5px;
}

.clear {
  clear: both;
}

.console {
  padding: 10px;
  width: 940px;

}

.console .panel {
  border: 1px solid red;
  background:#19353B;
}

.code {
  border: 1px solid red;
  color: white;
}
.theory-content {
  color: black;
}
