.main{
  margin-top: -17px;
}
.category{
  width: 350px;
  height: 95vh;
  background-color: white;
  margin: 20px 10px -40px 10px;
}
.categoryx{
  width: 70%;
  height: 95vh;
  margin: 40px 0 0 15%;
  display: none;
}
.well{
  height: 95vh;
  margin: 0 0 0 0;
  padding-left: 0!important;
  position: static;
  top: 0;
  right: 0;
  margin: 0 8% 0 0!important;
}
hr{
  border: 2px solid #DDDDDD;
  width: 25%;
  margin: 10px 60px 20px 0;
}
.courses a{
  color: black;
  text-decoration: none;
}
.courses a:hover{
  color:#2FD3B0!important;
}
.ok{
  color: white;
}
.green span{
  position: absolute;
  padding: 20px 15px 0 0;
  font-size: 20px;
  position: absolute;
  right: 0;
}
.green p{
  color: white;
  font-size: 15px;
  margin: 20px auto;
}
.ctg{
  padding: 25px 60px 0 15px;
  font-size: 20px;
}
.bars{
 margin-top: 30px!important;
}
.ranking{
  padding: 0 60px 0 15px;
  margin-top: 12px;
  font-size: 20px;
}
.progress{
  margin: 0 45px 0 15px;
}
.bar1{
 background-color: #B3E546!important;
 border-radius: 5px!important;
 height: 20px!important;
}
.bar2{
background-color: #DEE546!important;
}
.courses{
  width: 310px!important;
  height: 40vh;
  background-color: white;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 17px;
}
.scroll{
  margin-top: 20px;
  overflow-y: scroll!important;
  height: 94.6vh;
  margin-left: 0px!important;
  margin-right: 0px!important;
}
.green{
  background-color: #2FD3B0;
  height: 10vh;
  width: 100%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.grey{
  background-color: #DDDDDD;
  height: 5vh;
  width: 15%;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}
.continue{
  background-color: #2FD3B0;
  height: 5vh;
  width: 15%;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}
.glyphicon-bookmark{
  font-size: 20px;
  color: white;
  margin-left: -3px;
}
.grey p{
  font-size: 30px;
  color: white;
  margin-top: -5px;
}
.category li{
  margin: 0 0 5px 0;
}
.squaredFour {
  width: 20px;
  margin: -22px 0 0 250px;
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
    top: 0;
    right: 0;
    background: #fcfff4;
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #333;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.5;
    }
  }
  input[type=checkbox] {

    &:checked + label:after {
      opacity: 1;
    }
  }
}
//second part begin

.courses0 {
  margin: 5px 0px 0 0;
  margin-top:0;
  float: left;
  clear: right;
}

.courses0 .item {
  display: inline-block;
  width: 327px !important;
  height: 212px !important;
  background: white;
  border-radius: 4px;
  margin: 5px;
  text-align: left;

}

.courses0 .item .top a {
  float: right;
  background: #2FD3B0;
  padding: 5px 10px;
  border-radius: 0px 4px 0px 4px;
  color: white;

}

.courses0 .item .top a:hover {
  text-decoration: none;
  cursor: pointer;
  background: #26B093;
}

.courses0 .item .middle h4 {
  font-weight: normal;
  margin-left: 15px;
  margin-top: 20px;
  color: #19353B
}

.courses0 .item .border {
  position: relative;
  top: -5px;
  display: inline-block;
  margin-left: 15px;
  width: 100px;
  height: 4px;
  background: #DDDDDD;

}

.courses0.item .desc p {
  color: #19353B;
  margin-left: 15px;
  margin-top: 10px;
  margin-right: 15px;
}
.desc p{
  margin-left: 10px;
}

.bottomblue {
  position: relative;
  height: 40px;
  margin-top: 43px!important;
  border-radius: 0px 0px 4px 4px;
  background: #2FD3B0;
}

.bottomblue .raiting {
    display: inline-block;
    float:right;
    margin-top: 10px;
    margin-right: 10px;
}
//second part end
@media only screen and (max-width:760px){
  .category{
    display: none;
  }
  .categoryx{
    display: block;
    padding: 0;
  }
  .categoryx button{
    padding: 3% 30% 3% 30%!important;
    font-size: 20px;
    margin: 0;
  }
  // .well{
  //   margin-right: 9%;
  // }
}
@media only screen and (max-width:700px){
  .well{
    margin-right: 20%;
  }
}
@media only screen and (max-width:540px){
  .category{
    display: none;
  }
  .categoryx{
    width: 60%;
    display:inline-block;
    padding: 0;
    margin: 40px 0 -40px 15%;
  }
  .categoryx button{
    padding: 3% 30% 3% 30%!important;
    font-size: 20px;
    margin: 0;
  }
}
@media only screen and (max-width:445px){
  .category{
    display: none;
  }
  .categoryx{
    width: 60%;
    display:inline-block;
    padding: 0;
    margin: 40px 0 -40px 12%;
  }
  .categoryx button{
    padding: 3% 30% 3% 30%!important;
    font-size: 20px;
    margin: 0;
  }
}
@media only screen and (max-width:383px){
  .category{
    display: none;
  }
  .categoryx{
    width: 60%;
    display:inline-block;
    padding: 0;
    margin: 40px 0 -40px 9%;
  }
  .categoryx button{
    padding: 3% 30% 3% 30%!important;
    font-size: 20px;
    margin: 0;
  }
}
@media only screen and (max-width:331px){
  .category{
    display: none;
  }
  .categoryx{
    width: 60%;
    display:inline-block;
    padding: 0;
    margin: 40px 0 -40px 6%;
  }
  .categoryx button{
    padding: 3% 30% 3% 30%!important;
    font-size: 20px;
    margin: 0;
  }
}
@media only screen and (max-width:322px){
  .category{
    display: none;
  }
  .categoryx{
    width: 60%;
    display:inline-block;
    padding: 0;
    margin: 40px 0 -40px 3%;
  }
  .categoryx button{
    padding: 3% 30% 3% 30%!important;
    font-size: 20px;
    margin: 0;
  }
}
