.login{
  width: 26%;
  height: 60vh;
  background-color: white;
  margin-left: 4%;
  margin-top: 4%;
}
.loginx{
// color: #606060;
color: red;
font-size: 22px;
text-align: center;
margin-top: 10%;
}
.welcome{
  width: 64%;
  height: 60vh;
  background-color: white;
  margin-top: 4%;
  margin-left: 2%;
}
.submit .btn-default{
  position: absolute;
  top: 270px;
  left: 15px;
  width: 90%;
  padding: 10px 0 10px 0!important;
}
.navbar-right .btn-default{
  border-radius: 30px!important;
  margin-right: 15px!important;
  margin-top: 15px;
  padding: 7px 50px 7px 50px!important;
}
form{
margin-top: 10%;
}
.item{
margin-top: 1.8%;
width: 100%!important;
height: 55vh!important;
}
