.parts-name, .lessons-name{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.9px;
  text-align: center;
  color: #14282c!important;
}
 .lessons-name{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.9px;
  text-align: center;
  color: #14282c!important;
}
li :hover{
  color:#2FD3B1!important;
}
.logoup{
  margin-bottom: 20px;
  padding-top: -50px;
  position: relative!important;
  top: 0!important;
  left: 0!important;
}
.closebtn .btn-default{
   background-color: white;
  width: auto!important;
  height: auto!important;
  color: #14282c!important;
  padding: 0!important;
  font-size: 25px;
  font-weight: normal;
  position: absolute;
  top: 0;
  right: 30px;
}
#myProgress2 {
    width: 18%;
    border-radius: 2000px!important;
    background-color: #d8d8d8;
    position: absolute;
    top: 60px;
    right: 50px;
}
#myBar2 {
    width: 68%;
    height: 10px;
    border-radius: 100px!important;
    background-color: #2fd3b0;
}
.achievement2 h5{
  color: #2fd3b0!important;
  position: relative;
  top: 29px;
  left: 70%;
}
@media only screen and (max-width:991px){
  .achievement2 h5{
    position: relative;
    left: 65%;
  }
}
@media only screen and (max-width:767px){
  .achievement2 h5{
    position: relative;
    left: 67%;
  }
}
@media only screen and (max-width:500px){
  .achievement2 h5{
  display: none;
  }
}
.achievement2{
  width: auto;
  height: auto;
  position: relative;
  top: 0px!important;
  left: 0px;
}
.mypro{
  margin-top: -29px;
}
.glyphicon-remove-circle{
  color: #2fd3b0!important;
}
