.parts-name, .lessons-name{
  width: 156.2px;
  height: 28px;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 0.8px;
  color: #14282c;
}
 .lessons-name{
  font-family: 'Lato', sans-serif;
  width: 151.1px;
  height: 22px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.6px;
  text-align: center;
  color: #14282c;
}
.model-content li, .parts-name :hover{
  color:#2FD3B1!important;
}
.model-content a :hover{
  color:#2FD3B1!important;
}
.logoup{
  margin-bottom: 20px;
  position: relative!important;
  top: -40px!important;
  left: 0!important;
  border: 5px solid white;
  border-radius: 100px;
}
.closebtn .btn-default{
   background-color: white;
  width: auto!important;
  height: auto!important;
  color: #14282c!important;
  padding: 0!important;
  font-size: 25px;
  font-weight: normal;
  position: absolute;
  top: 0;
  right: 30px;
}
#myProgress2 {
    width: 18%;
    border-radius: 2000px!important;
    background-color: #d8d8d8;
    position: absolute;
    top: 60px;
    right: 50px;
}
#myBar2 {
    width: 68%;
    height: 10px;
    border-radius: 100px!important;
    background-color: #2fd3b0;
}
.achievement2{
  width: auto;
  height: auto;
  position: relative;
  top: 0px!important;
  left: 0px;
}
.mypro{
  margin-top: -29px;
}
.glyphicon-remove-circle{
  color: #2fd3b0!important;
}
.modal-content{
  margin-top: 100px!important;
}
center{
  height: 80px!important;
}
.center2{
  height: 30px!important;
}
.vivaldi{
  width: auto!important;
  height: auto!important;
  position: relative;
  top: 0;
  left: -270px;
}
.c2{
  height: 50px!important;
}
