.modal-button {
    border-radius: 0px;
    padding: 0px;
    color: #313131;
     border:none;
    background: none;
    font-size:20px;
    margin:10px;
     margin-top:15px;
     float:right;
}

.modal-button:hover {
    background: none;
    color: black;
    border:none;
}

.modal-button:active {
    background: none;
    color: black;
    border:none;
}

.modal-button:visited {
    background: none;
    color: black;
    border:none;
}

.modal-button:active {
    background: none;
    color: black;
    border:none;
}

.modal-button p b {
    color:#19353B;
    font-weight:bold;
    margin-right:20px;
}


.modal-button p b span {
    color:#2FD3B0;
}

.modal-button p  span {
    color:#2FD3B0;
}

