// Place all the styles related to the Parts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//lessons/show.html.erb

.taskpanel{
  height: 476px;
}
.taskpanel2{
  overflow-y: scroll!important;
  height: 420px!important;
}
.part1 ul li {
  font-weight:normal;
}

.part1 ul li iframe {
  width:100%;
  height: auto;
}
.part2 ul {
   width:100%;
   margin-bottom:10px;
}
.part2 ul li {
  text-align:left;
  font-weight:normal;
 
}

.part2 ul li iframe {
  width:100%;
  height: auto;
}
.lesson-name-block {
  padding:0px;
  background: white;
  text-align:center;
  background: transparent!important;
  margin-bottom: 10px!important;
  margin-top: -20px;
}
.lesson{
  margin: -10px 10px;
}
.console{
  
}
.clear{
  background-color: #F1F1F1;;
  height: 10px;
  margin: 0 -10px;
}
