.course0{
  color: #2FD3B0!important;
  text-align: center;
}
.coursemain a{
  padding: 0 20px 0 20px!important;
  font: 20px!important;
}
.coursemain h4{
  color: white;
}
.myimg{
  margin: 30px 0 -30px 0;
}
.glyphicon-option-horizontal{
 margin-left: 350px;
}
