.progress-background {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    display: block;
    height: 5px;
    border-radius: 3px;
    width: 200px;
    background: #D8D8D8;

}
  .progress-content {

    background: #2FD3B0;
    width: 0%;
    height: 100%;
    border-radius: 3px;

}
.bottomblue .progress-background{
  margin-top: 8px;
}
  .progress-contents{

    background: white;
    width: 0%;
    height: 100%;
    border-radius: 3px;

}
