.progress-background {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    display: block;
    height: 5px;
    border-radius: 3px;
    width: 200px;
    background: #D8D8D8;
    
}
  .progress-content {
      
    background: #2A971D;
    width: 0%;
    height: 100%;
    border-radius: 3px;
    
}